
  <div class="mt-3">
    <h2>User info</h2>
    <%= image_tag user.get_profile_image(100,100) %>
  </div>

  <table class="border-top mb-3 w-100">
    <tr>
      <th class= "p-3 border-bottom ">name</th>
      <td class="border-bottom text-center"><%= user.name %></td>
    </tr>
    <tr>
      <th class="p-3 ">introduction</th>
      <td class="text-center"><%= user.introduction %></td>
    </tr>
  </table>

  <%=link_to edit_user_registration_path(user) do %>
    <button type="botton" class="btn btn-outline-secondary w-100 mb-3">
      <i class="fa-solid fa-user-gear" style="color:gray;"></i>
    </button>
  <% end %>


